<%- include("header") -%>
  
    
      <div class="arrow">
        <a href="#proj">
          <i class="fas fa-chevron-down fa-2x" style="color: white;"></i>
        </a>
      </div>
     <div class="container-fluid">
       <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#282634">
            <!-- navbar -->
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="images/logoo.png" alt="" width="200px" />
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="#">خانه
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#proj" data-target=".navbar-collapse.in">پروژه ها</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#about" data-target=".navbar-collapse.in">درباره من</a>
                  </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link text-warning" href="/rps" data-target=".navbar-collapse.in">یه کم بازی کن اگه حوصله ت سر رفته!</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
       </div>
     </div>
      
      <!-- home -->
      <div style="background-color: #8EC5FC;
      background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
      " class="container-fluid pt-5">
        <section id="homesec"> 
          <div class="row">
            <div id="home">
              <h1 class="home-title">
                سلام، من اميد عبيدزاده هستم
              </h1>
              <p class="home-text">
                طراح و توسعه دهنده وبسايت 
                <br>
              </p>
              <!-- sociallinks -->
              <div class="links">
                <a target="_blank" class="home-icons" href="https://www.instagram.com/omid_oz___/">
                  <i class="fab fa-instagram fa-lg"></i>
                </a>
                <a target="_blank" class="home-icons" href="https://github.com/omidobeidzadeh">
                  <i class="fab fa-github fa-lg"></i>
                </a>
              </div>
              <a class="btn btn-primary btn-lg homebtn" href="#contact">ارتباط با من!
          
              </a>
            </div>
          </div>
      </section>
      </div>
     
      
      <div class="container">
        <section id="container" class="bg-sec">
      
          <section id="proj">
            <h2 class="heading">نمونه پروژه ها</h2>
            <div class="card-deck">
              <div class="card">
                <img src="images/amazon.png" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">شبيه سازي آمازون</h5>
                  <div style="margin-bottom: 10px;">
                    <span class="badge badge-info">HTML</span>
                    <span class="badge badge-info">CSS (Bootstrap)</span>
                    <span class="badge badge-info">JS</span>
                    <span class="badge badge-info">Node.js</span>
                    <span class="badge badge-info">Express.js</span>
                    <span class="badge badge-info">MongoDB</span>
                  </div>
                  <p class="card-text">
                    در اين وبسايت شما ميتوانيد همانند آمازون محصولات را به سبد خريد خود اضافه كرده و و براي پرداخت اقدام كنيد
                  </p>
                  <div class="mt-auto">
                    <a href="https://github.com/omidobeidzadeh/nodejs" class="btn btn-primary">مشاهده كد</a>
                    <a href="" class="btn btn-outline-primary disabled">مشاهده انلاين</a>
                  </div>
                  <small id="emailHelp" class="text-muted">مشاهده انلاين به زودي اضافه خواهد شد</small>
                </div>
              </div>
        
              <div class="card">
                <img src="images/express.png" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">وبسایت کامل با پنل ادمین و کاربران</h5>
                  <div style="margin-bottom: 10px;">
                    <span class="badge badge-info">HTML</span>
                    <span class="badge badge-info">CSS</span>
                    <span class="badge badge-info">JS</span>
                    <span class="badge badge-info">Node js</span>
                    <span class="badge badge-info">MySQL</span>
                    <span class="badge badge-info">Express</span>
                  </div>
                  <p class="card-text">این یک وبسایت کامل است و در آن موسس سایت میتواند با استفاده از پنل ادمین مطالب خود را در سایت منتشر کند</p>
        
                  <div class="mt-auto">
                    <a href="https://github.com/omidobeidzadeh/amazon-clone" target="_blank" class="btn btn-primary">مشاهده کد</a>
                    <a href="" class="btn btn-outline-primary disabled">مشاهده انلاين</a>
                  </div>
                  <small id="emailHelp" class="text-muted">مشاهده انلاين به زودي اضافه خواهد شد!</small>
                </div>
              </div>
        
        
              
            </div>
            <a target="_blank" href="https://github.com/omidobeidzadeh" class=" btn btn-outline-primary projects-btn">مشاهده پروژه های بیشتر</a>
        
    
          </section>
        
        </section>
      </div>
      

      <div class="container">
        <section id="container">
          <section id="about">
            <h2 class="heading">درباره من</h2>
            <p class="home-text">
              من امید عبیدزاده هستم بسیار علاقه مند به برنامه نویسی...و در زمینه ی طراحی و توسعه دهندگی سایت با استفاده از زبان برنامه نویسی جاوااسکریپت فعالیت میکنم.فرانت سایت را میتوانم با تکلونوژی reactjs و بک اند سایت را هم با تکلونوژی nidejs که جاوااسکریپت سمت سرور محسوب میشود بالا بیاورم.
            </p>
            <p>برای دیتابیس هم تجربه کار با mongodb و mysql دارم.</p>
            <samp>
              <pre>
        "me" : 
        {
          "Name" : "omid obeidzadeh",
          
          "College" : 
          "404",
          
          "Stream" : "Developer",
          "Skills" : {
            "Interest" :  [
                          "Web Development (MARN)", 
                          "UI/UX Design"],
            "Languages" : ["JavaScript",
                          "MySQL", "Html", "Css", "MongoDB"],
            "Softwares" : ["Photoshop", 
                          "Git", "Bootstrap"]
          }
        }
        
                </pre>
            </samp>
          </section>
        </section>
      </div>
      
      
      <div class="container-fluid p-0">
        <section id="container" class="footer" style="background-color:#282634">
          <h2 class="heading mapheading"  id="contact">ارتباط با من</h2>
          <div class="row">
            
            <section class="col-md-6 map" ">
              <!-- <h2 class="heading mapheading">Find me at</h2> -->
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3237.7103659654285!2d51.56781521466213!3d35.75792303337068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e1c4d291a9f1d%3A0x2db55f96aab367e2!2sEstakhr%2C%20Tehran%2C%20Iran!5e0!3m2!1sen!2sin!4v1607814280296!5m2!1sen!2sin" width="500" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </section>
            <section class="col-md-3" >
              <!-- <h2 class="heading">Get in touch</h2> -->
            
              <form action="/" method="post">
                <div class="form-group">
                  <label for="InputEmail1">نام</label>
                  <input style="background-color:#3b374e" name="iname" type="text" class="form-control" id="InputName" aria-describedby="nameHelp" placeholder="">
                </div>
                <div class="form-group">
                  <label for="InputEmail">ایمیل</label>
                  <input style="background-color:#3b374e" name="iemail" type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp"
                    placeholder="">
                </div>
                <div class="form-group">
                  <label for="FormControlTextarea">پیام</label>
                  <textarea style="background-color:#3b374e" name="imessage" class="form-control" id="FormControlTextarea" rows="3" placeholder=""></textarea>
                </div>
                <button type="submit" class="submitbtn btn btn-success btn-block">ثبت</button>
              </form>
            </section>
            
            <section class="col-md-3 social-footer" >
              
              <ul class="social">
                <li style="font-size: 1.5rem;font-weight: bold;">شبکه های اجتماعی</li>
                <li>آدرس ایمیل: omidobeidzadeh@gmail.com</li>
                <li>گیت هاب: <a target="_blank" href="https://github.com/omidobeidzadeh">github.com/omidobeidzade</a></li>
                <li>اینستاگرام: <a target="_blank" href="https://www.instagram.com/mavn.exe/">@omid_oz___</a></li>
              </ul>
              
              <div class="credit">
                ساخته شده با <span>❤️</span> توسط امید عبیدزاده.
              </div>
            </section>
          </div>
          
        </section>
      </div>
   
<%- include("footer") -%>