<%- include("header") -%>
<div class="submitcard">
        <h1 class="home-title">
        مرسی از پیامت! 🔥🔥
    </h1>
    <p class="home-text">
      پیام شما حتما به من میرسه و من با دقت مطالعه ش میکنم. 
    <br>
    بزودی با هم در ارتباط خواهیم  بود,
    </p>
    <p class="home-text">
      امید عبیدزاده
    </p>
    <form action="/submit" method="post">
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-arrow-left"></i> برگرد به سایت
        </button>
    </form>

    
</div>
<%- include("footer") -%>